*{

  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: rgb(255, 255, 255);
}
.lyw{
  margin-left: 7.5%;
    margin-top: 2.5%;
    margin-bottom: -4%;
}
.menu-bar {
  margin-top: 137px;
    padding-left: 41%;
    text-decoration: none;
    font-size: x-large;
    font-weight: 600;
    line-height: 39px;
}
.menu-bar ul {
  list-style: none;
}
.menu-bar ul li {
  padding: 10px 20px;
}
.menu-bar ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.menu-bar ul li a:hover {
  color: rgb(255, 30, 0);
  letter-spacing: 0.05em;
  transition: 0.5s letter-spacing, 2.5s opacity;
}
.sites2{
  padding-left: 1334px;
  font-size: smaller;
  padding-top: 2%;
}
.rights{
  padding-left: 76%;
  font-size: x-small;
  float: right;
}
.socialmedia{
  margin-top: 193px;
    padding-left: 24px;
    font-size: larger;
    letter-spacing: 12px;
}

.BSty{
  padding-left: 22%;
    margin-top: -23px;
    font-size: larger;
    font-weight: 700;
    float: left;
}